/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 0px;
  padding-bottom: 20px;
}

#mainContentBG{
	background-color: #e1e1e1;
}

#form .col-md-8, #videoContainer{
	float: none;
	margin: 0 auto;
}
.jumbotron {
background: url(../images/herobg.png) no-repeat top fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-size: 100%;
margin-bottom: 0px;
/* padding: 500px; */
}

.jumbotron p {
padding-top: 40%;
padding-bottom: 17%;
}


@media (min-width: 320px){

.jumbotron {
	height: auto;
	max-width: 100%
}


}

@media (min-width: 768px){

.jumbotron {
	min-height: 600px;
}
}


@media (min-width: 992px){

.jumbotron {
	min-height: 690px;
}

@media (min-width: 1200px){
.jumbotron {
	min-height: 850px;

}
}

.visible-md-block {
display: block;
}

.visible-md-block input, button, select, textarea {
position: relative;
height: auto;
padding: 10px;
font-size: 12px;
margin-top: 20px;
/* border: 5px solid #d9d9d9; */
background-color: #ebebeb;
width: 100%;
border-radius: 0;
-webkit-appearance: none;


