/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #f2f2f2;
/*background-color: black;
*/}

.container{
/*  -moz-box-shadow: 0 0 5px #888;
-webkit-box-shadow: 0 0 5px#888;
box-shadow: 0 0 5px #888;*/
}

.navbar-inverse{
	background-color: transparent;
	border-color: transparent;
}

.navbar-brand{
	float: none;
}

.jumbotron p{
	text-align: center;
	margin-bottom: 0px;
}

.jumbotron a.btn{
background-color: #000000;
color: #f7fbfa;
text-transform: uppercase;
width: 50%;
padding: 10px;
text-align: center;
font-weight: 200;
border-color: transparent;
}

.jumbotron a .fa{
color: #808080;
padding-right: 10px;
}

.jumbotron {
background: url(../img/herobg.png) no-repeat top;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-size: 100%;
margin-bottom: 0px;
/*height: 500px;
*//* padding: 500px; */
padding-top: 32%;
padding-bottom: 34%;
}


/* MAIN CONTENT - GRID */

#mainContentBG .container{
	background-color: #f5f5f5;
}

#mainContentBG .col-md-4 h2{
color: #c32030;
text-align: center;
text-transform: uppercase;
line-height: 125%;
font-weight: bold;
}


#mainContentBG .col-md-4 ul{
	padding-bottom: 10%;
	width: 90%;
	margin: 20px auto;
}


#mainContentBG ul li{
margin-top:5px; 
padding-left: 0px;
font-size: 26px;
color: #a4202d;
}


#mainContentBG ul li span{
font-size: 16px;
color: #696969;
}

#mainContentBG p{
text-align: center;
}

#mainContentBG a.btn{
background-color: #000000;
color: #f7fbfa;
text-transform: uppercase;
width: 50%;
padding: 10px;
text-align: center;
font-weight: 200;
}

#mainContentBG a .fa{
color: #808080;
padding-right: 10px;
}


#mainContentBG .row .grid_text{
padding-right: 0px;
	padding-left: 0px;
}

#mainContentBG .row .grid_img{
	padding-right: 0px;
	padding-left: 0px;
}

/*#mainContentBG .row .grid_img:first-child{
	padding-right: 0px;
	padding-left: 0px;
}*/


#grid{
background-color: #ffffff;
}


#grid ul{
	padding-top: 10%;
	width: 80%;
	margin: 0 auto;

}


#grid ul li{
	padding-left: 0px;
}

#mainContentBG #grid_footer{
	color:#ffffff;
	font-weight: 200;
	text-align: center;
	min-height: 300px;
		background-color: #696969;


}

#mainContentBG #grid_footer .col-md-12{
font-size: 16px;
	padding: 50px 25px 0px 25px;
	line-height: 175%;
}


/* FORM */

#form{
	padding-top: 75px;
	background-color: #ffffff;

}

#form #formWrapper{
	float: none;
	margin: 0 auto;
}

#form p{
	text-align: center;
	color: #8e8e8e;
}


.form-style input, button, select, textarea {
position: relative;
height: auto;
padding: 10px;
font-size: 12px;
margin-top: 20px;
/* border: 5px solid #d9d9d9; */
background-color: #ebebeb;
width: 100%;
border: 1px solid #ccc;;
border-radius: 0;
color: #999999;
-webkit-appearance: none;

}
.btn-danger {
color: #fff;
background-color: #c52032;
width: 200px;
height:50px;
}

.btn-danger .fa{
color: #e29099;
padding-right: 10px;
}

/* VIDEO */

#video{
padding: 20px 0px;
}

#video #videoBG h2{
color:#000000;
text-align: center;
}

#videoBG{
	float:none;
	margin: 0 auto;
}



#videoContainer iframe{
	height: 400px;
}

/* FOOTER */
footer .col-md-12{
	background-color: #181a1e;
}

footer p{
	padding: 20px 0px 20px 0px;
	line-height: 150%;
	text-align: center;
	color:#ffffff;
	margin-bottom: 0px;
}


@media (min-width: 320px){

#grid img{
	width: 100%;
}


}

@media (min-width: 768px){


}


@media (min-width: 992px){
footer{
	background-color: #181a1e;
}



}

@media (min-width: 1200px){
footer{
	background-color: #181a1e;
}
/*.jumbotron {
background: url(../img/herobg.png) no-repeat top;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-size: contain;
/* padding: 500px; 
height: 818px;
}

.form-control {
display: block;
margin-top: 10px;
}

.form-style {
display: block;
}*/

}

	


/*.col-md-8-button{
text-align: center;
padding-top: 25px;
	
}*/




